.logo{
    height: 100px;
}


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;


}


.nav-menu{
    display: flex;
    list-style: none ;
    gap: 60px;
    font-size: 20px;
}

.nav-connect{
    padding: 20px 40px;
    background: linear-gradient(267deg, #Da7c25 0.36%, #B923e1 102.06%);
    border-radius: 50px;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;

}

.nav-connect:hover{
    transform: scale(1.05);
}

